
.bg-white {
    padding: 30px;   
}

.connectHeading {
    font-weight: 700;
    font-size: small;
}

.connectDiscription {

    font-weight: 900;
    font-size: x-large;
    margin-bottom: 20px;
}

.connect {

    font-size: 20px;
    margin-bottom: 20px;
}
.contactDetails {
    display: flex;
    justify-content: space-between;
}

.email,
.contact,
.address {
    text-align: center;
}

.emailHeading,
.phoneHeading,
.addressHeading {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.emaildiscription,
.phonediscription,
.addressdiscription {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

a {
    color: black; 
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}

a:hover {
    text-decoration: underline;
}

#fname{
    border: solid;    
}
#newslettersubmit{
    border: solid;
}
.space {
    margin-right: 10px; 
}
.connectsection{
    align-items: center;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;;
}
.icon{
    display: flex;
}
MdMailOutline,BsTelephone,HiOutlineLocationMarker{
    size: x-large;
}
.block{
    width: 300px;
}
.rounded{
color: aliceblue;
}
#newslettersubmit{
    background-color: white;
    color: black;
    margin-left: 20px;
}
.formnewsletter{
    width: 100%;
    display: flex;
}